#app/var/*
#!app/var/log/.gitkeep
#app/var/cache

# Parameters
app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
app/bin/*
!app/bin/console
!app/bin/symfony_requirements
app/vendor/

# Assets and user uploads
app/web/bundles/
app/web/uploads/
!app/public/DocPrint/Dossier/*
!app/public/DocPrint/Contact/*
!app/public/DocPrint/Emmargement/*
!app/public/DocPrint/Facture/*
!app/public/DocPrint/Propal/*

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
app/build/
docker-compose.yml
docker-compose-sample.yml
# Composer PHAR
app/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
app/.web-server-pid
logs/nginx
app/var/cache/dev/profiler/index.csv
logs/nginx/access.log
app/var/log/dev.log
app/build/*