{% extends 'base.html.twig' %}

{% block title %}Menu - CRM Aprentiv v2.0
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-4 mt-3 ">
			<div class="card m-t-3 card-menu">
				<div class="card-header">
					<h3 class="text-well text-center">GESTION</h3>
				</div>
				<ul class="list-group list-group-flush">
					{% for menu_gestion in user_menus.gestion %}
						<li class="list-group-item list-menu">
							<a class="menu text-center" href="{{ menu_gestion.urlmenu is not empty ? path(menu_gestion.urlmenu) : '#'}}">
								{{ menu_gestion.nomMenu }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-4 mt-3">
			<div class="card card-menu">
				<div class="card-header">
					<h3 class="text-well text-center">CREATION</h3>
				</div>
				<ul class="list-group list-group-flush">
					{% for menu_creation in user_menus.creation %}
						<li class="list-group-item list-menu">
							<a class="d-block w-100 menu text-center" href="{{ menu_creation.urlmenu is not empty ? path(menu_creation.urlmenu) : '#'}}">
								{{ menu_creation.nomMenu }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>		
					</div>
					<div class="col-md-4 mt-3">
                        	<div class="card card-menu">
				<div class="card-header">
					<h3 class="text-well text-center">Changelogs</h3>
					<div>
						<div class="stackedit__html">
							<h1 id="informations-importantes">Informations importantes</h1>
<h2 id="info-contacts">Info Contacts</h2>
<p>Lorsque vous ajouté une société lié, celle-ci n&#39;est lié que sur la fiche ajouté (vous devez lié les société sur leurs fiches respective)</p>
<blockquote>
<p>exemple :</p>
</blockquote>
<p> <strong>Pole emploi</strong> lié à <strong>Page jaune</strong> vous devez allez sur la fiche contact <strong>Page jaune</strong> et ajouté en société lié <strong>Pole emploi</strong></p>
<h2 id="mise-jour-du-mois-de-mars-avril">Mise à jour du mois de Mars/Avril</h2>
<p>Résumé des mises à jour</p>
<h3 id="dossiers-contact">Dossiers/Contact</h3>
<p>Ajout des commentaire en cliquant sur la flèche bleu, (plus besoin d&#39;allez sur le dossier pour vérifié les commentaires en bas de page)</p>
<blockquote>
<p>PS : Les Leads auront également cette mise à jour</p>
</blockquote>
<h3 id="liste-des-contacts">Liste des contacts</h3>
<p>Vous pouvez modifié la structure en temps réel depuis la page, si vous souhaitez pouvoir modifié d&#39;autre chose n&#39;hésiter pas à m&#39;en faire part par mail en mettant en copie pascal</p>
<h3 id="propals">Propals</h3>
<p>un bouton à été ajouté pour vous permettre d&#39;ajouté un &quot;besoin&quot;</p>
<p>La liste doit subir une mise à jour prochainement au niveau du filtre, pour vous permettre de selectionné les propals celon leurs status (En cours, à faire, annulé, validé)..</p>
<h3 id="contacts-propals">Contacts/Propals</h3>
<p>Un système de prévention à été ajouté pour vous empéché de créer un contact si son email ou son numéro de téléphone existe déja au sein de la base.</p>
<p>Le même système existe pour les propals vous disant qu&#39;un dossier existe déja</p>
<p>A noté, ce système n&#39;est pas blockant, vous pouvez toujours créer le contact ou le dossier même si il existe déja !</p>

						</div>
                    </div>
				</div>
			{% endblock %}
