{% extends 'base.html.twig' %}

{% block title %}PROFIL UTILISATEUR{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home.index') }}"><i class="fas fa-home"></i></a></li>

            {% if app.user.droit == 'superadmin' %}
                <li class="breadcrumb-item active">
                    <a href="{{ path('welcome/Liste_utilisateur') }}">
                        Liste des utilisateurs
                    </a>
                </li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">Accès interdit</li>
        </ol>
    </nav>

    <h2 class="text-center mt-2 text-primary text-danger"><i class="fa fa-ban" aria-hidden="true"></i> ACCESS INTERDIT</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <p class="alert alert-warning">
                Vous n'avez pas assez de droit pour accéder à cette page !
                Veuillez consulter l'administrateur du site pour plus d'info.
                <a href="javascript: history.go(-1)">Retour</a>
            </p>
        </div>
    </div>
{% endblock %}
