<div id="modalType" class="modal fade list-filter" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajout Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row" id="modalbody">
                <div class="col-sm-5" style="text-align: right">
                    <label for="ajout_type_libelle"><b>Designation </b> &nbsp;</label>:
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="ajout_type_libelle" id="ajout_type_libelle">
                </div>
            </div>  <!-- //fin modal body -->
            <div class="modal-footer">
                <button type="button" id="ajout_type_close_btn" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="ajout_type_btn" select-tag-id="{{ typeId }}"><b> Ajouter</b></button>
            </div>
        </div>

    </div>
</div>