
<div class="modal fade" id="gen_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="gen_modal_title">Modal title</h4>

            </div>

            <div class="modal-body" id="gen_modal_body">

            </div>

            <div class="modal-footer text-center list-filter no-disabled">
                <button type="button" class="btn btn-danger" id="gen_modal_discard" data-dismiss="modal">
                    <span class="fa fa-window-close"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="gen_modal_save" class="btn btn-primary">
                    <span class="fa fa-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>